:root {
    --sans-serif-family: "Kantumruy Pro", sans-serif;
    --serif-family: "Judson", serif;
    --rounding-rectangle: 16px;
    --primary-100: #C6DBFF;
    --secondary-100: #FFEBFE;
    --space-200: 8px;
    --schemes-on-primary: #FFF;

    --icon-large-container: 56px;

    --icon-small-size: 24px;
    --icon-small-height: 28px;
    --icon-small-letter-spacing: 0px;

    --circle-large: 40px;

    --header-small-size: 24px;
    --header-small-height: 28px;
    --header-small-letter-spacing: 0px;
}

#submit-prompt {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.icon {
    font-family: var(--sans-serif-family);
    font-style: normal;
}

.header {
    font-family: var(--sans-serif-family);
    font-style: normal;
    font-weight: 700;
}

.header.small {
    font-size: var(--header-small-size);
    line-height: var(--header-small-height);
    letter-spacing: var(--header-small-letter-spacing);
}

.header.small.left {
    text-align: left;
}

.operator-card-list {
    display: flex;
    width: 500px;
    padding: var(--space-200);
    flex-direction: column;
    align-items: center;
    gap: var(--space-200);

    background: var(--schemes-on-primary);
}

.operator-avatar-container {
    width: var(--icon-large-container, 56px);
    height: var(--icon-large-container, 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.operator-avatar-mask {
    width: var(--circle-large);
    height: var(--circle-large);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operator-avatar-mask img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.sidebar.right {
    animation-name: slideLeft;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

section.sidebar.right.closing {
    animation-name: slideRight;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

li.operator-card {
    display: flex;
    width: 30em;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--rounding-rectangle);
    background: var(--secondary-100);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    margin: 16px;
}

li.left {
    width: 30em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

li.right {
    width: 30em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
}

hgroup.operator-avatar-and-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 8px;
}

h1.operator-avatar-text {
    position: absolute;
    width: 1em;
    height: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #000;
    text-align: center;
    font-family: var(--sans-serif-family);
    font-size: var(--icon-small-size);
    font-style: normal;
    font-weight: 500;
    line-height: var(--icon-small-height);
    letter-spacing: var(--icon-small-letter-spacing);
}

p.message {
    font-family: var(--sans-serif-family);
    font-style: normal;

    border-radius: var(--rounding-rectangle);
    background: var(--primary-100);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    padding: .5em;
    margin: 8px;
}

@keyframes slideLeft {
    0% {transform: translateX(0em);}
    100% {transform: translateX(-20em);}
}

@keyframes slideRight {
    0% {transform: translateX(0em);}
    100% {transform: translateX(20em);}
}