:root {
    --sans-serif-family: "Kantumruy Pro", sans-serif;
    --serif-family: "Judson", serif;
}

h1, h2 {
    font-family: var(--sans-serif-family);
}

ul {
    font-family: var(--sans-serif-family);
}