<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <title>Changelog</title>
    <link href="{{ dyn_url_for(request, 'static', path='/css/abop.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ dyn_url_for(request, 'static', path='/abstractoperators_favicon.jpg') }}">

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>

    <!-- hyperscript -->
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

    <!-- Kantumruy Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <!-- Judson -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
    {% from "header.html" import header %}
    {{ header(request=request) }}
    <div class="main panel">
        <h1>Changelog</h1>
        <div>
            <h2>October 20th, 2024</h2>
            <ul>
                <li>Included operator name/user email above every message.</li>
                <li>Refactor operator avatars to abbreviate operator name instead of operator ID.</li>
                <li>The footer is sticky now! You should expect to see it stay below all other content on the page.</li>
                <li>Cards (for Orchestrator, Operators, and Projects) horizontally resize responsively.</li>
                <li>Delete button on cards has been replaced with a trashcan icon.</li>
            </ul>
            <h2>October 17th, 2024</h2>
            <ul>
                <li>Added tool use.</li>
                <li>Added sanity checks on forms.</li>
                <li>Update concrete SDK operator options.</li>
            </ul>
            <h2>October 11th, 2024</h2>
            <ul>
                <li>Added a changelog.</li>
                <li>Added a footer link to changelog.</li>
                <li>Added icon links to github, documentation, and linkedin.</li>
                <li>Added a header with icon link to landing page.</li>
            </ul>
        </div>
    </div>
    {% from "footer.html" import footer %}
    {{ footer(request=request) }}
</body>
</html>