<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <title>Operators - List View</title>
    <link href="{{ url_for('static', path='/css/abop.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/abstractoperators_favicon.jpg') }}">

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>

    <!-- hyperscript -->
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

    <!-- Kantumruy Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <!-- Judson -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
    <a href="/">Back</a>
    <div>
        <div>
            <h1>Operators</h1>
            <ul
                hx-get="{{ url_for('get_operator_list', orchestrator_id=orchestrator_id) }}"
                hx-trigger="load, getOperators from:body"
                class="operator-card-list"
            ></ul>
        </div>
        <div>
            <h1>Projects</h1>
            <ul
                hx-get="{{ url_for('get_project_list', orchestrator_id=orchestrator_id) }}"
                hx-trigger="load, getProjects from:body"
                class="operator-card-list"
            ></ul>
        </div>
    </div>
    <button
        hx-get="{{ url_for('create_operator_form', orchestrator_id=orchestrator_id) }}"
        hx-target="body"
        hx-swap="beforeend"
    >
        Create Operator
    </button>
    <button
        hx-get="{{ url_for('create_project_form', orchestrator_id=orchestrator_id) }}"
        hx-target="body"
        hx-swap="beforeend"
    >
        Create Project
    </button>
</body>

</html>