<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <title>Project: {{ project.name }}</title>
    <link href="{{ dyn_url_for(request, 'static', path='/css/abop.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ dyn_url_for(request, 'static', path='/abstractoperators_favicon.jpg') }}">

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>

    <!-- hyperscript -->
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

    <!-- Kantumruy Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <!-- Judson -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
    {% from "header.html" import header %}
    {{ header(request=request) }}
    <!-- figure out if extensions apply here -->
    {% from "back_button.html" import back_button with context %}
    {{ back_button(dyn_url_for(request, 'get_orchestrator', orchestrator_id=project.orchestrator_id)) }}
    <main class="main panel">
        <h1 class="header">{{ project.name }}</h1>
        <div
            class="main panel"
            hx-ext="ws"
            ws-connect="{{ dyn_url_for(request, 'project_chat_ws', orchestrator_id=project.orchestrator_id, project_id=project.id) }}"
        >
            <ol
                id="group_chat"
                class="chat-list"
                hx-get="{{ dyn_url_for(request, 'get_project_chat', orchestrator_id=project.orchestrator_id, project_id=project.id) }}"
                hx-trigger="load"
            ></ol>
            <form
                ws-send
            >
                <textarea
                    name="prompt"
                    placeholder="Send a message"
                    autocomplete="off"
                    required
                    rows="4"
                    cols="64"
                ></textarea>
                <button hx-indicator="#grid">
                    Send
                </button>
                <img id="#grid" class="htmx-indicator" src="{{ dyn_url_for(request, 'static', path='/icons/grid.svg')}}">
            </form>
        </div>
    </main>
    <!-- figure out extensions -->
    {% from "footer.html" import footer %}
    {{ footer(request=request) }}
</body>

</html>