<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <title>Operator - List View</title>
    <link href="/static/css/abop.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/abstractoperators_favicon.jpg">

    <!-- Kantumruy Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <!-- Judson -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
    <ol class="operator-card-list">
        {% for message in messages %}
        <li class="left">
            <div class="operator-avatar-container">
                <div class="operator-avatar-mask">
                    <img src="/static/operator_circle.svg" alt="Operator Avatar" class="operator-avatar-mask">
                    <h1 class="operator-avatar-text">{{ message.avatar }}</h1>
                </div>
            </div>
            <p class="message">
                {{ message.content }}
            </p>
        </li>
        {% endfor %}
    </ol>
</body>

</html>