<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <title>Orchestrators - List View</title>
    <link href="/static/css/abop.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/abstractoperators_favicon.jpg">

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>

    <!-- Kantumruy Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <!-- Judson -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
    <form id="create-orchestrator-form">
        <input type="text" id="title" name="title" placeholder="Orchestrator Title" required>
        <input type="text" id="owner" name="owner" placeholder="Owner" required>
        <input type="text" id="type_name" name="type_name" placeholder="Type Name" required>
        <button type="submit">Create Orchestrator</button>
    </form>

    <div id="orchestrator-list" hx-get="/orchestrators" hx-trigger="load"></div>
    </div>
    
    <script src="/static/js/create_orchestrator.js"></script>
    
</body>

</html>