<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <title>Abstract Operators</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/abstractoperators_favicon.jpg">
</head>

<body>
    <h1>abstract operators</h1>

    <a class="links" href="https://github.com/abstractoperators/concrete" target="_blank">github</a>
    <a class="links" href="https://demo.abop.ai" target="_blank">demo</a>
    <a class="links" href="/pitch-deck" target="_blank">pitch deck</a>

</body>

</html>