<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <title>Operators - List View</title>
    <link href="/static/css/abop.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/abstractoperators_favicon.jpg">

    <!-- Kantumruy Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">

    <!-- Judson -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1>Operators for {{ orchestrator_id }}</h1>

    <form id="create-operator-form" hx-post="/operators" hx-target="#operator-list" hx-swap="afterbegin" hx-trigger="submit">
        <input type="hidden" name="orchestrator_id" value="{{ orchestrator_id }}">
        <input type="text" id="instructions" name="instructions" placeholder="Instructions" required>
        <input type="text" id="title" name="title" placeholder="Title" required>
        <button type="submit">Create Operator</button>
    </form>

    <ul id="operator-list" class="operator-list">
        {% for operator in operators %}
            {% include "operator.html" %}
        {% endfor %}
    </ul>

</body>

</html>