<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <title>Operators - List View</title>
    <link href="/static/css/abop.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/abstractoperators_favicon.jpg">

    <!-- Kantumruy Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">

    <!-- Judson -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
</head>

<body>

    <body>
        <h1>Operators for Orchestrator {{ orchestrator_id }}</h1>
        <ul class="operator-list">
            {% for operator in operators %}
            <li class="operator-card">
                <a href="/chat/{{ orchestrator_id }}/{{ operator.id }}">
                    <hgroup class="operator-avatar-and-header">
                        <div class="operator-avatar-container">
                            <div class="operator-avatar-mask">
                                <img src="/static/operator_circle.svg" alt="Operator Avatar"
                                    class="operator-avatar-mask">
                                <h1 class="operator-avatar-text">
                                    {{ operator.avatar }}
                                </h1>
                            </div>
                        </div>
                        <div class="operator-info">
                            <h2 class="header small left">{{ operator.name }}</h2>
                            <p class="operator-details">
                                Type: {{ operator.type }}
                            </p>
                        </div>
                    </hgroup>
                </a>
            </li>
            {% endfor %}
        </ul>
    </body>
</body>

</html>