<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <title>Orchestrators - List View</title>
    <link href="/static/css/abop.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/abstractoperators_favicon.jpg">

    <!-- Kantumruy Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <!-- Judson -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
    <body>
        <ul class="orchestrator-list">
            {% for orchestrator in orchestrators %}
            <li class="orchestrator-card">
                <a href="/operators/{{ orchestrator.id }}">
                    <hgroup class="orchestrator-avatar-and-header">
                        <div class="orchestrator-avatar-container">
                            <div class="orchestrator-avatar-mask">
                                <img src="/static/operator_circle.svg" alt="Operator Avatar" class="orchestrator-avatar-mask">
                                <h1 class="orchestrator-avatar-text">
                                    {{ orchestrator.avatar }}
                                </h1>
                            </div>
                        </div>
                        <div class="orchestrator-info">
                            <h1 class="header small left">{{ orchestrator.title }}</h1>
                            <p class="orchestrator-details">
                                Owner: {{ orchestrator.owner }}<br>
                                Type: {{ orchestrator.type_name }}
                            </p>
                        </div>
                    </hgroup>
                </a>
            </li>
            {% endfor %}
        </ul>
    </body>
</body>

</html>