<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Chat</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0QK53DQ7ZM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0QK53DQ7ZM');
</script>

<body>
    <div id="sticky-container">
        <div id="sticky-div">
            <h1>Abstract Operators Demo</h1>
            <form action="" onsubmit="sendPrompt(event)">
                <input type="text" id="promptText" value="Create a simple helloworld flask application" autocomplete="off" />
                <button type="submit" value="Submit" id="submitPrompt"> Submit </button>
                <!-- Uncomment this button to test undisabling of the actual button -->
                <!-- <button type="submit" value="Submit" > submitthatwon'tbedisabled </button> -->
            </form>
        </div>
        <div id="promptDisplay"></div>
    </div>

    <!-- Submitted prompt sits at top of page even after scrolling -->
    <div id="messages">
    </div>

    <script>
        var client_id = Date.now();
        var protocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
        var ws = new WebSocket(`${protocol}//${window.location.host}/ws/${client_id}`);
        var connectionTimeout = setTimeout(function () {
            if (ws.readyState !== WebSocket.OPEN) {
                console.log("WebSocket connection timed out");
                ws.close();
                // Implement retry logic or inform the user
            }
        }, 100000); // 10 seconds timeout

        ws.onopen = function () {
            clearTimeout(connectionTimeout);
            console.log("WebSocket connection established");
        };
        function scrollToBottom() {
            var messagesContainer = document.getElementById('messages');
            messagesContainer.scrollTop = messagesContainer.scrollHeight;
        }

        ws.onmessage = function (event) {
            const payload = JSON.parse(event.data);
            const { agent_type, timestamp, message: messageText, completed } = payload;

            const messages = document.getElementById('messages');
            const messageElement = document.createElement('div');
            if (completed) {
                messageElement.className = 'message final'
                var submitPrompt = document.getElementById("submitPrompt")
                submitPrompt.disabled = false
            } else {
                messageElement.className = `message ${agent_type.toLowerCase()}`;
            }

            const content = document.createElement('p');
            content.innerText = messageText;

            const timeStamp = document.createElement('span');
            timeStamp.className = 'time-left';
            timeStamp.textContent = new Date(timestamp).toLocaleTimeString([], {
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit'
            });

            messageElement.appendChild(content);
            messageElement.appendChild(timeStamp);
            messages.appendChild(messageElement);

            scrollToBottom();
        };

        function sendPrompt(event) {
            event.preventDefault();
            const messages = document.getElementById('messages');
            // messages.innerHTML = ""
            var input = document.getElementById("promptText");
            var submitButton = document.getElementById("submitPrompt");
            var promptDisplay = document.getElementById("promptDisplay");
            promptDisplay.textContent = "Prompt: " + input.value;
            ws.send(input.value)
            input.value = '';
            submitButton.disabled = true;
        }
    </script>
</body>

</html>