<div hx-target="this" hx-swap="outerHTML">
    <div>
        <label for="name">Name</label>
        <input
            type="text"
            name="name"
            hx-post="{{ dyn_url_for(request, 'validate_project_name', orchestrator_id=orchestrator_id) }}"
            value="{{ project_name }}"
            required
        >
        <p>That name is already taken. Please enter another name.</p>
    </div>
    <div>
        <label for="executive_id">Executive</label>
        <select name="executive_id" required>
            {% for o in operators %}
                <option value="{{ o.id }}">{{ o.name }} ({{ o.title }})</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="developer_id">Developer</label>
        <select name="developer_id" required>
            {% for o in operators %}
                <option value="{{ o.id }}">{{ o.name }} ({{ o.title }})</option>
            {% endfor %}
        </select>
    </div>
</div>