<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <title>Abstract Operators - Operatus</title>
    <link href="{{ url_for('static', path='/css/abop.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='abstractoperators_favicon.jpg') }}">

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

    <!-- Google Font Base Embed -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Raleway -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Judson -->
    <link href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
    {% from "header.html" import header with context %}
    {{ header(request=request) }}
    <main id="landing-panels">
        <div class="main panel">
            <h1 style="text-align: center;">
                Agent building has never been easier
            </h1>
        </div>
        <div class="main panel">
            <h1>What is Operatus?</h1>
            <p>
                Thanks to the many AI libraries and frameworks available to us today, building AI agents has improved by leaps and bounds.
                However, deploying agents in production or for more than personal use can be quite brittle, and cryptic, leading to a great deal of frustration.
                <br><br>
                Operatus makes it easy to rapidly serve agents in both self-hosted and cloud environments.
                Operatus provides a central platform to monitor and control your entire fleet of agents.
                Swap out components or add new integrations in production with minimal downtime.
                <br><br>
                Use well-documented, straightforward CLI tools to tweak and customize your agents.
                Don't have programming experience? Operatus provides a low-/no-code experience.
            </p>
        </div>
    </main>
</body>