<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <title>Abstract Operators - Concrete</title>
    <link href="{{ url_for('static', path='/css/abop.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='abstractoperators_favicon.jpg') }}">

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/93b35543dd.js" crossorigin="anonymous"></script>

    <!-- Kantumruy Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <!-- Judson -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
    {% from "header.html" import header with context %}
    {{ header(request=request) }}
    <main id="landing-panels">
        <div class="main panel">
            <h1 style="text-align: center;">
                An agent swarm framework designed for both developers and agents
            </h1>
            <a
                class="call-to-action large"
                href="https://docs.abop.ai"
                target="_blank"
            >
                Learn More
            </a>
        </div>
        <div class="main panel">
            <h1>What is Concrete?</h1>
            <p>
                The greatest challenges when it comes to developing swarms of AI agents are
                establishing a communication protocol and hierarchy.
                Concrete handles both of these for you.
            </p>
        </div>
    </main>
</body>