<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <title>Abstract Operators</title>
    <link href="{{ url_for('static', path='/css/abop.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='abstractoperators_favicon.jpg') }}">

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

    <!-- Google Font Base Embed -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Raleway -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Judson -->
    <link href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
    {% from "header.html" import header with context %}
    {{ header(request=request) }}
    <main id="landing-panels">
        <div class="main panel">
            <hgroup style="padding: 32px 0;">
                <h1 style="text-align: left;">Ushering in the age of AI...</h1>
                <h1 style="text-align: right;">...one discovery at a time.</h1>
            </hgroup>
            <a
                class="call-to-action large"
                href="http://calendly.com/kentgang/30min"
                target="_blank"
            >
                Contact Us
            </a>
        </div>
        <div class="main panel">
            <div class="left-aligned">
                <h1>Who are we?</h1>
                <p>
                    An applied research lab exploring
                    the exciting world of AI agents
                    and AI agent orchestration.
                </p>
            </div>
        </div>
    </main>

</body>

</html>