<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Chat</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0QK53DQ7ZM"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-0QK53DQ7ZM');
</script>

<body>
    <div id="sticky-container">
        <h1>Abstract Operators Demo</h1>
        <form action="" onsubmit="sendPrompt(event)"
            style="width: 80%; margin: 0 auto; display: flex; flex-direction: column; align-items: center;">
            <div style="position: relative; width: 80%; display: flex; justify-content: center;">
                <textarea id="promptText" placeholder="Create a simple helloworld flask application" rows="3"
                    style="width: 100%; box-sizing: border-box; resize: none" autocomplete="off"></textarea>
                <button type="submit" value="Submit" id="submitPrompt"
                    style="position: absolute; bottom: 10px; right: 10px;">
                    Submit
                </button> 
            </div>
        </form>
        <div id="promptDisplay"></div>
    </div>

    <div id="messages">
    </div>

    <script>
        var client_id = Date.now();
        var protocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
        var ws = new WebSocket(`${protocol}//${window.location.host}/ws/${client_id}`);
        var connectionTimeout = setTimeout(function () {
            if (ws.readyState !== WebSocket.OPEN) {
                console.log("WebSocket connection timed out");
                ws.close();
            }
        }, 100000);

        ws.onopen = function () {
            clearTimeout(connectionTimeout);
            console.log("WebSocket connection established");
        };
        function scrollToBottom() {
            var messagesContainer = document.getElementById('messages');
            messagesContainer.scrollTop = messagesContainer.scrollHeight;
        }

        ws.onmessage = function (event) {
            const payload = JSON.parse(event.data);
            const { agent_type, timestamp, message: messageText, completed } = payload;

            const messages = document.getElementById('messages');
            const messageElement = document.createElement('div');
            if (completed) {
                messageElement.className = 'message final'
                var submitPrompt = document.getElementById("submitPrompt")
                submitPrompt.disabled = false
            } else {
                messageElement.className = `message ${agent_type.toLowerCase()}`;
            }

            const content = document.createElement('p');
            content.innerText = messageText;


            messageElement.appendChild(content);
            // messageElement.appendChild(timeStamp);
            messages.appendChild(messageElement);

            scrollToBottom();
        };

        function sendPrompt(event) {
            event.preventDefault();
            const messages = document.getElementById('messages');
            var input = document.getElementById("promptText");
            var submitButton = document.getElementById("submitPrompt");
            var promptDisplay = document.getElementById("promptDisplay");

            var formattedPrompt = input.value.trim()
                .replace(/&/g, '&amp;')
                .replace(/</g, '&lt;')
                .replace(/>/g, '&gt;')
                .replace(/\n/g, '<br>')
                .replace(/\s{2,}/g, function (match) {
                    return '&nbsp;'.repeat(match.length);
                });

            promptDisplay.innerHTML = "<b>Prompt:</b> <div class='formatted-prompt'>" + formattedPrompt + "</div>";

            ws.send(input.value);
            input.value = '';
            submitButton.disabled = true;
        }
    </script>
</body>

</html>