{% macro footer(request) %}
<footer>
    <div>
        Welcome {{ request.session.user.email }}!
    </div>
    <nav>
        <a href="{{ dyn_url_for(request, 'get_changelog') }}">
            Changelog
        </a>
    </nav>
    <nav id="footer-nav-icons">
        <a href="https://github.com/abstractoperators/concrete">
            <img src="{{ dyn_url_for(request, 'static', path='/icons/github.svg')}}" alt="Github">
        </a>
        <a href="https://docs.abop.ai/">
            <img src="{{ dyn_url_for(request, 'static', path='/icons/doc.svg') }}" alt="Documentation">
        </a>
        <a href="https://www.linkedin.com/company/abstractoperators/">
            <img src="{{ dyn_url_for(request, 'static', path='/icons/linkedin.svg') }}" alt="LinkedIn">
        </a>
    </nav>
</footer>
{% endmacro %}