{% for o in operators %}
    <li class="operator-card">
        <a href="{{ dyn_url_for(request, 'get_operator', orchestrator_id=orchestrator_id, operator_id=o.id) }}">
            <hgroup class="operator-avatar-and-header">
                <h1 class="operator-avatar-text">
                    {{ o.name[0] if o.name|length < 2 else o.name[:2] }}
                </h1>
                <h1 class="header small left">{{ o.name }}</h1>
            </hgroup>
        </a>
        <button
            class="button"
            hx-delete="{{ dyn_url_for(request, 'delete_operator', orchestrator_id=orchestrator_id, operator_id=o.id) }}"
            hx-swap="none"
        >
            <img
                height="30em"
                src="{{ dyn_url_for(request, 'static', path='/icons/trash.svg') }}"
                alt="Delete"
            >
        </button>
    </li>
{% endfor %}