<div>
    <label for="title">title</label>
    <select name="title" id="title">
        <option value="executive">Executive</option>
        <option value="developer">Developer</option>
    </select>
</div>
<div>
    <label for="instructions">Instructions</label>
    <br>
    <textarea name="instructions" autocomplete="off"
        required>You are an expert software developer. You will follow the instructions given to you to complete each task.</textarea>
</div>
<div id="ToolsCheckboxes">

    <label for="Tools">Tools</label>
    <br>
    {% for tool in tools %}
    <input type="checkbox" id="{{ tool }}" name="tools" value="{{ tool }}">
    <label for="{{ tool }}">{{ tool }}</label><br>
    {% endfor %}

</div>