{% for o in operators %}
    <li class="operator-card">
        <a href="{{ dyn_url_for('get_operator', orchestrator_id=orchestrator_id, operator_id=o.id) }}">
            <hgroup class="operator-avatar-and-header">
                <div class="operator-avatar-container">
                    <div class="operator-avatar-mask">
                        <img
                            src="{{ dyn_url_for('static', path='/operator_circle.svg') }}"
                            alt="Operator Avatar"
                            class="operator-avatar-mask"
                        >
                        <h1 class="operator-avatar-text">
                            {{ o.title[0] if o.title|length < 2 else o.title[:2] }}
                        </h1>
                    </div>
                </div>

                <h1 class="header small left">{{ o.title }}</h1>
            </hgroup>
        </a>
        <button
            hx-delete="{{ dyn_url_for('delete_operator', orchestrator_id=orchestrator_id, operator_id=o.id) }}"
            hx-swap="none"
        >
            Delete
        </button>
    </li>
{% endfor %}