{% for message in chat %}
    {% if message.user_id is not none %}
        <li class="right">
            <hgroup class="message-avatar-and-name right">
                <h1 class="operator-avatar-text">U</h1>
                <h1 class="header small right">{{ request.session.user.email }}</h1>
            </hgroup>
            <p class="message">{{ message.content }}</p>
        </li>
    {% else %}
        <li class="left">
            <hgroup class="message-avatar-and-name left">
                <h1 class="operator-avatar-text">
                    {{ message.operator.name[:2] }}
                </h1>
                <h1 class="header small left">{{ message.operator.name }}</h1>
            </hgroup>
            <p class="message">{{ message.content|replace("\\n", "\n")|replace("\\\"", "'") }}</p>
        </li>
    {% endif %}
{% endfor %}

{% include "download_project.html" %}