:root {
    --sans-serif-family: "Kantumruy Pro", sans-serif;
    --serif-family: "Judson", serif;
    --rounding-rectangle: 16px;

    --cobalt-blue: #0047ab;
    --royal-purple: #4B006E;
    --electric-purple: #BF00FF;
    --electric-violet: #8b00ff;

    --princeton-orange: #FF961F;
    --dark-orange: #ff8d0a;
    --yellow: #F5F500;
    --aureolin: #E4E400;

    --jet: #2f2f2f;

    --hover-transition-time: .25s;

    --primary-100: #C6DBFF;
    --primary-200: #7ab6ff;
    --primary-400: #006bb3;
    --secondary-100: #FFEBFE;
    --grey-200: #B1B3B7;
    --tertiary-400: rgb(174, 119, 0);

    --space-200: 8px;
    --schemes-on-primary: #FFF;

    --icon-large-container: 56px;

    --icon-small-size: 24px;
    --icon-small-height: 28px;
    --icon-small-letter-spacing: 0px;

    --circle-large: 40px;

    --header-small-size: 24px;
    --header-small-height: 28px;
    --header-small-letter-spacing: 0px;

    --header-xsmall-size: 20px;
    --header-xsmall-height: 24px;
    --header-xsmall-letter-spacing: 0px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    min-height: 100%;

    display: flex;
    flex-direction: column;

    font-family: var(--serif-family);
    color: white;

    background-color: var(--jet);
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header {
    position: sticky;
    top: 0;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(
        to bottom,
        rgba(47, 47, 47, 1) 0%,
        rgba(47, 47, 47, 1) 60%,
        rgba(47, 47, 47, 0) 100%
    );
}

header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    padding: 32px;
    gap: 32px;
}

header > nav a:hover {
    text-decoration: none;
}

header > nav a > img {
    height: 48px;
}

header > nav > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-button {
    border-radius: 50%;
    height: 64px;

    transition: filter var(--hover-transition-time);
}

#home-button:hover {
    filter: brightness(350%);
}

#main-nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

#main-nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;

    font-size: larger;
}

#main-nav > ul > li {
    display: inline;
}

#main-nav > ul > li > a {
    color: white;
    transition: color var(--hover-transition-time);
}

#main-nav > ul > li > a:hover {
    color: var(--aureolin);
}

[type="checkbox"],
label {
    display: none;
    background: url("../icons/bars.svg") no-repeat center/80%;
}

#cta-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#nav-github {
    transition: filter var(--hover-transition-time);
}

#nav-github:hover {
    filter: brightness(150%);
}

.call-to-action {
    font-family: var(--sans-serif-family);
    font-weight: 500;
    color: white;

    background-color: var(--electric-violet);

    border-radius: 2em;

    transition:
        color var(--hover-transition-time),
        background-color var(--hover-transition-time);

    &.large {
        text-decoration: none;
        box-shadow: 0px 2px 2px var(--jet);

        padding: 2rem 3rem;

        font-size: max(32px, 3vw);
    }

    &.nav {
        padding: 1rem 1.5rem;
        font-size: larger;
    }
}

.call-to-action:hover{
    color: var(--aureolin);
    background-color: var(--electric-purple);
}

.main.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 16px;
}

.left-aligned {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#landing-panels {
    .main.panel {
        min-height: 100vh;
        justify-content: center;
        margin: 0 16px;
    }

    h1 {
        font-size: max(64px, 6vw);
    }

    p {
        font-size: max(32px, 3vw);
        width: 60vw;
    }
}

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    width: 33.3%;
}

@media screen and (max-width: 750px) {
    .column {
      width: 90%;
    }

    #main-nav {
        display: none;
    }

    #main-nav > ul {
        flex-direction: column;
        align-items: end;

        padding: 128px 32px 32px;
    }

    #cta-nav {
        padding: 32px;
    }

    label {
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    [type="checkbox"]:checked ~ #main-nav {
        display: flex;
        flex-direction: column;
        align-items: end;

        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -1;
        background: linear-gradient(
            to left,
            rgba(0, 71, 171, 1) 0%,
            rgba(0, 71, 171, .5) 100%
        );
    }

}

.circle-mask {
    object-fit: cover;
    border-radius: 50%;
}

.propic {
    height: 100%;
    width: 100%;
}

.card {
    padding: 16px;
}
